body {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  color: #212121;
  position: relative;
  width: 1600px;
  height: 1880px;
  background: #ffffff;
  margin: 0px;
  padding: 0px;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
}

.header-index {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.header-portfolio {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.index-h1-background {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

.index-h1-text {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.index-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 4350px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.index-text-under-h1 {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  display: flex;
}
.margin-30 {
  margin-left: 30px;
}

.index-text-under-h1 h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.index-text-under-h1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
li {
  list-style: none;
}

.what-we-do {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.what-we-do h2 {
  position: absolute;
  width: 352px;
  height: 42px;
  left: 624px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #212121;
}
.what-we-do ul {
  display: flex;
  margin-top: 92px;
}

.nasz-zespol {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}

.nasz-zespol ul {
  display: flex;
}

.logo-style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  position: absolute;
  width: 145px;
  height: 31px;

  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header {
  position: absolute;
  left: 215px;
  top: 24px;
}
.logo-footer {
  position: absolute;
  left: 215px;
  top: 60px;
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}
button:hover,
button:hover {
  background-color: #2196f3;
}

nav {
  position: absolute;
  width: 261px;
  height: 16px;
}
.agencja-link {
  position: absolute;
  width: 53px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.kontakty-link {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 656px;
  top: 32px;
}
.portfolio-link {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 552px;
  top: 32px;
}
.header-email-link {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}
.header-tel-link {
  position: absolute;
  width: 110px;
  height: 16px;
  margin-left: 1263px;
  margin-top: 32px;
}

.black-text {
  color: black;
}
.white-text {
  color: #ffffff;
}

.blue-text {
  color: #2196f3;
}

.contact-link {
  color: #757575;
}
.portfolio-button {
  background: #f5f4fa;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
}
.button-wszystkie {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
}
.button-strony {
  position: absolute;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
}
.button-aplikacje {
  position: absolute;
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;
}
.button-dizajn {
  position: absolute;
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;
}
.button-marketing {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
}

.portfolio-button h4 {
  text-align: center;
  margin-top: 8px;
}

.box {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.box figure {
  margin: 0px;
}

.box figcaption {
  margin-left: 24px;
}

.box p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.box-portfolio1 {
  left: 215px;
  top: 262px;
}
.box-portfolio2 {
  left: 615px;
  top: 262px;
}
.box-portfolio3 {
  left: 1015px;
  top: 262px;
}
.box-portfolio4 {
  left: 215px;
  top: 696px;
}
.box-portfolio5 {
  left: 615px;
  top: 696px;
}
.box-portfolio6 {
  left: 1015px;
  top: 696px;
}
.box-portfolio7 {
  left: 215px;
  top: 1130px;
}
.box-portfolio8 {
  left: 615px;
  top: 1130px;
}
.box-portfolio9 {
  left: 1015px;
  top: 1130px;
}

.footer-index {
  position: absolute;
  width: 1600px;
  height: 252px;
  margin-left: 0px;
  margin-top: 2097px;
  background: #2f303a;
}
.footer-portfolio {
  position: absolute;
  width: 1600px;
  height: 252px;
  margin-left: 0px;
  margin-top: 1628px;
  background: #2f303a;
}

address {
  position: absolute;
  width: 247px;
  height: 81px;
  left: 215px;
  top: 111px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  margin: 0px;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-email-link {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 0px;
  top: 30px;
}
.footer-tel-link {
  position: absolute;
  width: 110px;
  height: 16px;
  left: 0px;
  top: 60px;
}
