:root{
--blue: #2196F3;
--black: #000000;
--font-color-main: #212121;
--font-color-second: #757575;
--background-color-main: #FFFFFF;
--background-color-secondary: #2F303A;

--white: #FFFFFF;
--notwhite:  #f5f4fa;

--greydark: #2F303A;

}






body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--background-color-main);
  color: var(--font-color-main)
  
}

